// OPAC Design for Northern Vermont University
@import url ("https://cdn.jsdelivr.net/gh/bywatersolutions/web-assets/sites/vsc/css/vsc_blank.css");

#northernvermontmain {display: block;}
#northernvermontnav {display: block;}
#northernvermontheader {display: block;}

body {
	color: red !important;
}
