/*Norhern Vermont */
#northernvermontmain {display: none;}
#northernvermontnav {display: none;}
#northernvermontheader {display: none;}

/*Hartness Library */
#hartnessmain {display: none;}
#hartnessnav {display: none;}
#hartnessheader {display: none;}

/*Castleton University*/
#castletonmain {display: none;}
#castletonnav {display: none;}
#castletonheader {display: none;}